<!-- o form é enviado para o destino informado na action, method especifica como mandar -->
<form method="<%= method %>" action="<%= url %>">
    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input class="input" type="text" name="varCheck[name]" placeholder="Lista de Tarefas" value="<%= varCheck.name %>">
        <% if(varCheck.error && varCheck.error.hasOwnProperty('name')) { %>
         <p class="is-danger help"><%= varCheck.error.name.message %></p>
        <% } %>
      </div>
    </div>

    <button type="submit" class="button is-success">Salvar</button> 
    <a href="/checklists" class="button">Cancelar</a>
  </form>
